<div class="card mb-2 h-100">
    <img [attr.src]="plant.imageUrl || 'https://picsum.photos/id/152/200/300?grayscale&blur=2'"
        class="card-img-top img-fluid" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{ plant.commonName }}</h5>
        <p class="card-text">{{ plant.scientificName }}</p>
        <button class="btn btn-primary" (click)="plantModal.open()">edit plant</button>
        <ng-content></ng-content>
        <bryan-modal #plantModal>
          
        </bryan-modal>
    </div>
</div>

