<ng-container *ngIf="(loading$ | async)===false else Loader">
    <h1>My Plant Collection </h1>

    <div *ngIf="incompletePlants$ | async" class="alert alert-warning alert-dismissible fade show" role="alert">
        <p class="my-0">You have {{ incompletePlants$ | async }} plants that are missing information.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>



    <div class="row " *ngIf="plants$ | async">
        <div class="col-3" *ngFor="let plant of plants$ | async">
            <bryan-plant-card [plant]="plant">
                <button href="#" class="btn btn-primary" (click)="removeFromCollection(plant.id)">
                    delete plant
                </button>
                <button href="#" class="btn btn-primary">Edit plant</button>
            </bryan-plant-card>
        </div>
    </div>
</ng-container>
<ng-template #Loader>
    <bryan-loader></bryan-loader>
</ng-template>