<div class="container text-center">
    <h1 class="mt-2">Welcome to PlantApp!</h1>

    <div class="image">
        <img src="../../../assets/images/image_processing20200624-20315-1g68vnz.png" alt="">
        <div id="eyes">

            <img id="rightEye" class="eye" src="../../../assets/images/eye.png" alt=""
                style="top: -208px; right: -24px">

            <img id="leftEye" class="eye" src="../../../assets/images/eye.png" alt="" style="top: -208px; right: 50px">

        </div>

    </div>

</div>