<h1>Search a Plant</h1>
<div class="input-group my-3">
    <span class="input-group-text btn btn-success" (click)="processInput()">
        Search
    </span>
    <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" [(ngModel)]="query">
        <label for="floatingInput">Search for a plant</label>
    </div>
</div>
<div *ngFor="let result of searchResult">
    <ul>
        <li>{{result.commonName}}</li>
        <li>{{result.latinName}}</li>
    </ul>
</div>